<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="This is Vehi Go rent a car made by two studenst of 4th grade of secondary school."
    />

    <!-- CSS -->
    <link rel="stylesheet" href="./css/style/style.css" />
    <link rel="stylesheet" href="./css/style/cars.css" />
    <link rel="stylesheet" href="./css/style/general.css" />
    <link rel="stylesheet" href="./css/queries/queries.css" />

    <!-- ICON -->
    <link rel="icon" href="./images/brand/favicon.png" />
    <link rel="manifest" href="./images/brand/favicon.png" />
    <link rel="apple-touch-icon" href="./images/brand/favicon.png" />

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap"
      rel="stylesheet"
    />

    <title>VehiGo | Veliki izbor autiju!</title>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <main>
      <header class="section cars--header">
        <h1 class="secondary-heading cars--heading">
          Istražite našu ponudu automobila
        </h1>
      </header>
      <main class="cars--store">
        <div class="filters">
          <ul class="models--cars d-flex-center">
            <li class="model--car car1">
              <button class="filter--btn d-flex-center" data-model="all">
                <p class="filter--btn--text">Sve</p>
              </button>
            </li>
            <li class="model--car car1">
              <button class="filter--btn d-flex-center" data-model="BMW">
                <p class="filter--btn--text">BMW</p>
              </button>
            </li>
            <li class="model--car car2">
              <button class="filter--btn d-flex-center" data-model="Mercedes">
                <p class="filter--btn--text">Mercedes</p>
              </button>
            </li>
          </ul>
        </div>
        <hr />
        <div class="section cars--grid">
          <% cars.forEach(car => { %>
          <article class="card--car" data-model="<%=car.car_brand%>">
            <a href="/cars/<%=car._id%>">
              <img
                src="<%= car.car_url %>"
                alt="This is image of car in the grid"
                class="car--img"
              />
              <hr />
              <div class="card--info">
                <div class="name--and--price">
                  <h1 class="card--heading">
                    <%=car.car_model%> <%=car.car_brand%>
                  </h1>
                  <p class="car--price"><%=car.car_price%> €/dan</p>
                </div>
                <a href="/cars/<%=car._id%>" class="reservation--button"
                  >Rezerviraj</a
                >
              </div>
            </a>
          </article>
          <% }) %>
        </div>
      </main>
    </main>
    <%- include('../partials/footer.ejs') %>

    <script src="/js/filter.js"></script>
    <script src="/js/dropdown.js"></script>
    <script src="/js/animations.js"></script>

    <!-- ICONS -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
