<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="This is Vehi Go rent a car made by two studenst of 4th grade of secondary school."
    />

    <!-- CSS -->
    <link rel="stylesheet" href="./css/style/style.css" />
    <link rel="stylesheet" href="./css/style/cars.css" />
    <link rel="stylesheet" href="./css/style/general.css" />
    <link rel="stylesheet" href="./css/queries/queries.css" />
    <link rel="stylesheet" href="./css/style/about.css" />
    <link rel="stylesheet" href="./css/style/reservationCars.css" />

    <!-- ICON -->
    <link rel="icon" href="./images/brand/favicon.png" />
    <link rel="manifest" href="./images/brand/favicon.png" />
    <link rel="apple-touch-icon" href="./images/brand/favicon.png" />

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap"
      rel="stylesheet"
    />

    <title>VehiGo | Upoznajete nas bolje!</title>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <main>
      <section class="section container">
        <p class="subheading">&mdash; Vaše rezervacije</p>
        <h1 class="secondary-heading">Tu pronađite vaše aktivne rezervacije</h1>
        <main class="reservation--cards whitespace">

          <% 
            let auto = null;
            reservations.forEach(reservation => {
              cars.forEach(car => {
                if (reservation.reservation_car_id == car._id) {
                  auto = car;
                }
              });
            })  
            let isEmpty = false;
            function getDateFromIsoDate(isoDate) {
              const date = new Date(isoDate);
              const day = date.getDate();
              const month = date.getMonth() + 1; 
              const year = date.getFullYear();
              const formattedDate = `${day}.${month}.${year}`;
              return formattedDate;
            }

            function getURL(url) {
              const path = url.substring(url.indexOf('/images'));
              const modifiedPath = path.replace(/%20/g, ' ');

              return modifiedPath;
            }
            
          %>


            <% reservations.forEach(reservation => { 
              if (reservation.reservation_user_id == customer._id) {  isEmpty = true; %>
                <div class="reservation--card">
                  <div class="reservation--card--img--container">
                    <img
                      src="<%= getURL(reservation.reservation_car_url) %>"
                      alt="This is photo of reserved car"
                      class="reservation--card--img"
                    />
                  </div>
                  <div class="reservation--card--content">
                    <h1 class="reservation--card--heading"><%= auto.car_brand %></h1>
                    <p class="reservation--card--price"><%= auto.car_price %> €/dan</p>
                    <p class="reservation--card--message">
                      Rezervirali ste od: <%= getDateFromIsoDate(reservation.reservation_start) %> do <%= getDateFromIsoDate(reservation.reservation_end) %>
                    </p>
                  </div>
                  <ion-icon
                    name="trash-outline"
                    class="reservation--card--delete"
                    data-doc="<%= reservation._id %>"
                  ></ion-icon>
                </div>
              <% } %>
            <% }) %>

          <% if (isEmpty) { %>
          <% } else { %>
            <div class="reservation--empty">
              <img src="/images/carsPage/emptyRes.png" alt="Er" class="emptyRes--img">
              <h1 class="secondary-heading">Trenutno nema niti jedna rezervacija</h1>  
            </div>
          <% } %>

        </main>
      </section>
    </main>
    <%- include('../partials/footer.ejs') %>

    <script src="/js/reservationDelete.js"></script>
    <script src="/js/dropdown.js"></script>
    <script src="/js/animations.js"></script>

    <!-- ICONS -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
