<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="This is Vehi Go rent a car made by two studenst of 4th grade of secondary school."
    />

    <!-- CSS -->
    <link rel="stylesheet" href="/css/style/style.css" />
    <link rel="stylesheet" href="/css/style/cars.css" />
    <link rel="stylesheet" href="/css/style/general.css" />
    <link rel="stylesheet" href="/css/style/singleCar.css" />
    <link rel="stylesheet" href="/css/queries/queries.css" />

    <!-- ICON -->
    <link rel="icon" href="/images/brand/favicon.png" />
    <link rel="manifest" href="/images/brand/favicon.png" />
    <link rel="apple-touch-icon" href="/images/brand/favicon.png" />

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap"
      rel="stylesheet"
    />

    <title>VehiGo | <%= car.car_model %> <%= car.car_brand %></title>
  </head>
  <body>
    <%- include('../partials/header') %>

    <main>
      <section class="section single--car--section container whitespace">
        <div class="active--car--image">
          <img src="<%= car.car_url %>" alt="This is the photo of active car" />
          <div class="handle--errors" id="car--error"></div>
        </div>
        <div class="single--car-content">
          <p class="single--car--type">Sedan</p>
          <h1 class="secondary-heading">
            <%=car.car_model%> <%= car.car_brand %>
          </h1>
          <p class="single--car--year">
            Godina: <strong><%= car.car_year %></strong>
          </p>
          <p class="single--car--price">
            <strong><%= car.car_price %></strong> €/dan
          </p>

          <form method="POST" id="reservationForm">
            <div class="reservation--form">
              <div class="calendar">
                <label for="start--date" class="reservation--label">Od:</label>
                <input type="date" name="start" id="start--date" />
              </div>

              <div class="calendar">
                <label for="end--date">Do:</label>
                <input type="date" name="end" id="end--date" />
              </div>

              <button class="reservation--button">Rezerviraj</button>
            </div>
          </form>
        </div>
      </section>
      <section class="section single--car--description container">
        <div class="description--item">
          <ion-icon name="map-outline" class="single--car--icon"></ion-icon>
          <p class="single--car-desc"><%=car.car_kilometers%> km</p>
        </div>
        <div class="description--item">
          <ion-icon
            name="speedometer-outline"
            class="single--car--icon"
          ></ion-icon>
          <p class="single--car-desc"><%=car.car_max_speed%> km/h</p>
        </div>
        <div class="description--item">
          <ion-icon
            name="stats-chart-outline"
            class="single--car--icon"
          ></ion-icon>
          <p class="single--car-desc"><%=car.car_fuel_consumption%> l/100km</p>
        </div>
        <div class="description--item">
          <ion-icon name="people-outline" class="single--car--icon"></ion-icon>
          <p class="single--car-desc"><%=car.car_seats%> seats</p>
        </div>
        <div class="description--item">
          <ion-icon
            name="color-fill-outline"
            class="single--car--icon"
          ></ion-icon>
          <p class="single--car-desc"><%=car.car_fuel_type%></p>
        </div>
        <div class="description--item">
          <ion-icon name="flash-outline" class="single--car--icon"></ion-icon>
          <p class="single--car-desc"><%=car.car_horse_power%> ks</p>
        </div>
      </section>
    </main>

    <%- include('../partials/footer') %>

    <script src="/js/singleCar.js"></script>
    <script src="/js/animations.js"></script>
    <script src="/js/singleCarFormHandler.js"></script>
    <script src="/js/dropdown.js"></script>
    <!-- ICONS -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
