<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/css/style/panel.css" />
    <link rel="stylesheet" href="/css/style/general.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap"
      rel="stylesheet"
    />
    <title>VehiGo | Administracija</title>
  </head>
  <body>
    <main class="admin--panel">
      <%- include('../aside/aside.ejs') %>
      <article class="content--admin">
        <main class="admin--sections">
          <section class="admin--section section--rezervacije">
            <h1 class="section--heading">Prikaz svih rezervacija</h1>
          </section>

          <table class="table--reservation--admin">
            <tr>
              <th>Ime</th>
              <th>Prezime</th>
              <th>Email</th>
              <th>Marka auta</th>
              <th>Model auta</th>
              <th>Rezervirano od</th>
              <th>Rezervirano do</th>
            </tr>
            <%

              function getDateFromIsoDate(isoDate) {
                const date = new Date(isoDate);

                const day = date.getDate();
                const month = date.getMonth() + 1; 
                const year = date.getFullYear();

                const formattedDate = `${day}.${month}.${year}`;
                return formattedDate;
              }

            let arrOfCustomers = [];
            reservations.forEach(reservation => {
              customers.forEach(customer => {
                if (customer._id == reservation.reservation_user_id) {
                  cars.forEach(car => {
                    if(car._id == reservation.reservation_car_id) {%>
                        <tr>
                          <td><%= customer.customer_first_name %></td>  
                          <td><%= customer.customer_last_name %></td>  
                          <td><%= customer.customer_email %></td>  
                          <td><%= car.car_brand %></td>  
                          <td><%= car.car_model %></td>  
                          <td><%= getDateFromIsoDate(reservation.reservation_start) %></td> 
                          <td><%= getDateFromIsoDate(reservation.reservation_end) %></td> 
                        </tr>
                      <%}
                      
                  });
                }
              })
            });
            %>
          </table>
        </main>
      </article>
    </main>
    <script src="/js/panel.js"></script>

    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
